:root {
  --black: #0d0d0d;
  --red: #ff2d2b;
}

.scoreboard {
  width: 58%;
  margin: 2rem auto;
  background-color: #0b5402;
  color: white;
  border-radius: 0.5rem;
  padding: 5rem;
  border: 4px solid #aaaaaa;
}

.topRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  /* height: 20rem; */
}

.home,
.away,
.inn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  border: 3px solid white;
  border-radius: 0.5rem;
  width: 18rem;
}

.home {
  background-color: blue;
}

.away {
  background-color: grey;
}

.home__name,
.away__name,
.inning,
.balls_title,
.strikes_title,
.outs_title {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem;
}

.home_score,
.current_inning,
.away_score {
  font-family: "Ozone";
  font-size: 7rem;
  width: 90%;
  text-align: center;
  background-color: var(--black);
  color: var(--red);
  padding: 5%;
}

.bottomRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  height: 20rem;
}

.balls,
.strikes,
.outs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}

.balls_value,
.strikes_value,
.outs_value {
  font-family: "Ozone";
  font-size: 5rem;
  color: var(--red);
  width: 10rem;
  height: 5.7rem;
  text-align: center;
  background-color: var(--black);
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.6rem;
  border: 1px solid white;
}

.buttons {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.homeButtons__run,
.awayButtons__run,
.innings_button,
.resetYankeesRuns_button,
.resetAwayRuns_button,
.resetInnings_button,
.resetBalls_button,
.resetStrikes_button,
.resetOuts_button,
.balls_button,
.strike_button,
.out_button {
  margin: 1rem;
  border-radius: 4px;
}
